.o-ipl {
  position: relative;
  overflow: hidden;
}

.o-ipl[data-state~="loaded"] .o-ipl__image {
  opacity: 1;
}

.o-ipl[data-state~="loaded"] .o-ipl__placeholder {
  opacity: 0;
}

.o-ipl__image {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: contain;';
}

.o-ipl__placeholder {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: contain;';
  transition: opacity 1s;
  filter: blur(10px);
}
